POSTGRES_USER=admin
POSTGRES_PWD=de0f29356c038a2fe83bdce0bebd87edabfe9
POSTGRES_DB=work_tracker
POSTGRES_USER=localhost
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PWD=admin
PGADMIN_PORT=8080

PORT=3000
